@if(selectedTodo.id != -1){
<div class="container">
    <div class="title">
        <div><span style="padding:2px;font-size: 18px;font-weight: 700;margin-bottom: 5px">Title: </span></div>
        <input style="font-size: large;
            line-height: 2;
            width: 196px;" placeholder="title" [(ngModel)]="selectedTodo.title">
    </div>
    <div class="description">
        <div><span style="padding:2px;font-size: 18px;font-weight: 700;margin-bottom: 5px;">Description: </span></div>
        <textarea style="font-size: large;height: 5em;" [(ngModel)]="selectedTodo.description">
            </textarea>
    </div>
    <div style="text-align: center;
        margin-right: 1rem;
    "><Button style="font-size: 1rem;
    font-weight: 700;
    line-height: 2;
    background: none;
    border: 1px solid dimgrey;
    border-radius: 4px;
    width: 100px;
    ">Submit</Button></div>
</div>
}